a {
    text-decoration: none;
}

button, input {
    outline: none;
}

.background {
    @extend %background;
}

.btnContainer {
    float: right;
    margin-top: -2px;

    &.item {
        float: none;
        text-align: center;
        margin: $basic*2;
        margin-top: 0;
    }

    .button {
        padding: $basic;

        @extend %borderSet;

        &.edit {
            background-color: color(update);
        }

        &.delete {
            background-color: color(delete);
        }

        &:hover {
            box-shadow: 0 0 $basic color(white);
            color: color(lightFont);
        }
    }
}

.titleContainer {
    margin: auto;
    max-width: $maxWidth;

    .newBtnContainer {
        float: right;
    
        .newBtn {
            padding: $basic;
    
            margin-top: 2px;
            margin-right: $basic*3;
    
            background-color: color(white);

            @extend %borderSet;
        }
    }

    .pageTitle {
        text-align: center;
    }
}

.outerContainer {

    padding: $basic;
    margin: auto;
    max-width: $maxWidth;
    
    .innerContainer {
        @extend %borderSet;
    
        padding: $basic;
        margin-bottom: $basic;
    
        line-height: $lineHeight;
    
        background-color: color(primary);
    }
}
    
.iconContainer {
    float: left;
    margin: 3px 5px 0 5px;
}
    
.itemName {
    color: white;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba($color: black, $alpha: 0.4);

    .modalContent {
        background-color: color(primary);
        margin: 15% auto;
        
        @extend %width;
        @extend %borderSet;
        border: 1px solid color(white);

        .modalTitleContainer {
            font-size: 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 15px;
            margin-bottom: 15px;
            background-color: color(white);
            color: color(darkFont);

            .modalClose {
                margin-top: -10px;
                font-size: size(small);
                float: right;

                &:hover {
                    color: color(primary);
                }
            }
        }

        .modalContentContainer {
            padding: $basic*3;

            .modalLabel {
                margin-left: 3px;
            }

            .modalInput {
                width: 100%;
                padding: $basic;
                margin: $basic 0;
                box-sizing: border-box;
                outline: none;

                @extend %borderSet;

                &.select {
                    background-color: color(white);
                }
            }

            .modalRadioSet {
                margin: 5px 0;
                .modalRadioLabel {
                    margin-right: 10px;
                    margin-left: 5px;
                }
            }

            .modalContentButtonContainer {
                margin-top: 10px;
                text-align: right;

                .addButton {
                    @include buttonSet(black, 1.0, lightFont);
                    @extend %borderSet;
                }

                .updateButton {
                    @include buttonSet(update, 1.0, darkFont);
                    @extend %borderSet;
                }

                .deleteButton {
                    @include buttonSet(delete, 1.0, lightFont);
                    @extend %borderSet;
                }
            }
        }
    }
}

.messageContainer {

    margin-top: $basic*2;
    padding: $basic;
    @extend %borderSet;

    &.error {
        background-color: rgba($color: color(error), $alpha: 0.2);
        border: 1px solid color(error);
    }

    &.normal {
        background-color: rgba($color: color(normal), $alpha: 0.2);
        border: 1px solid color(normal);
    }
}