.foodContainer {
    padding-top: $paddingTop;
}

.itemOuterContainer {
    padding: $basic*2;
    margin: auto;
    
    @extend %width;

    .itemInnerContainer {
        background-color: lighten($color: color(primary), $amount: 10%);
        
        @extend %borderSet;
    
        .itemTitleContainer {
            border-top-left-radius: $basic;
            border-top-right-radius: $basic;
            padding: $basic*2;
            background-color: darken($color: color(primary), $amount: 5%);

            .itemName {
                font-size: size(fontBasic) + $basic;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .itemContentContainer {
            padding: 10px;
            display: grid;
            grid-template-columns: 50% 50%;
            text-align: center;
            font-size: size(fontBasic);

            .alignLeft {
                text-align: left;
            }

            .alignRight {
                text-align: right;
            }
        }

        .itemNoteContainer {
    
            .itemNote {
                padding: 5px 20px 10px 20px;
                font-size: size(fontBasic);
                text-align: center;
            }
        }

        .itemButtonContainer {
            padding: $basic;
        }
    }
}