.homeTitle {
    font-size: size(fontBig);
    text-align: center;
    font-weight: 900;
    margin-top: 60px;
    padding: $basic * 3;
}
  
.homeWelcome {
    font-size: size(fontMedium);
    text-align: center;
    font-weight: 900;
    padding: $basic * 3;
}

.homeName {
    font-size: size(fontSmall);
    text-align: center;
}