.loginContainer {
    text-align: center;

    margin: auto;
    padding-top: $paddingTop;
    
    @extend %width;

    .loginFormContainer {
        background-color: rgba(color(secondary), 0.7);
        padding: $basic * 2;
            
        @extend %borderSet;

        label {
            font-size: size(fontBasic) + $basic;

            span {
                font-size: size(fontBasic);
            }
        }

        .loginInput {
            width: 100%;

            box-sizing: border-box;
            margin: 10px 0;
            padding: $basic;

            @extend %borderSet;
        }

        .loginBtnContainer {
            width: 100%;
            margin-top: 10px;

            .loginBtn {
                width: 100%;
                
                @include buttonSet(primary, 1.0, lightFont);
                @extend %borderSet;
            }
        }

    }

    .loginRegisterChange {
        text-align: right;
        padding-top: $basic;
        padding-right: $basic*2;

        button {
            background: none;
            color: skyblue;
            font-size: size(fontBasic);

            @extend %borderSet;
        }
    }
}