.storageContainer {
    padding-top: $paddingTop;
}

.subContainer {
    margin-left: $basic*6;

    .subItemContainer {
        background-color: lighten($color: color(primary), $amount: 10%);
    
        padding: $basic;
        margin-bottom: $basic;

        @extend %borderSet;

        line-height: $lineHeight;
    }
}